/* For Desktop */

@media only screen and (min-width: 635px) {

.title{
	font-family: 'Merriweather', serif;

}

label {
	
	font-family: 'Merriweather', serif;
}

/* Tick Boxes(Ha!) */
.tickElement {
	
	background-color: #D0C9C0;
    width: 200px;
    height: 225px;
	border-radius: 5px;
	
}

.tickImg {
	
	height: 150px; 
	text-align: center;
	padding-top: 12.5px; 

	
}


.tickName {
	
	text-align: center;
	padding-top: 10px;
	font-family: 'IBM Plex Serif', serif;
	
}

.tickName > p {
	font-family: 'IBM Plex Serif', serif;
	
}

.cards {
    display: flex;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cardsItem {
	 /* There will be 4 cards per row */
	flex-basis: 10%;
	padding: 8px;
}

.scale {
	display: flex;
}

.scale > p {
	padding: 5px;
	
}

p {
	
	font-family: 'Merriweather', serif;
}

.featureImg {
	
	height: 150px;
	border-radius: 5px;

}

.featureCard {
	text-align: center;
	width: 300px;
	background-color: #7c9cab;
	border-radius: 5px;

}

.featureCard > p {
	padding-top: 10px;
}

.legs, .genital, .scutum, .mouth {
	padding: 10px;
}
 
 .genusCard, .amblyommaFeatures {
	 
	text-align: center;
	width: 300px;
	background-color: #7c9cab;
	border-radius: 5px;
	 
 }
 
  .genusCard > p, .amblyommaFeatures > p {
	 
		padding-top: 10px;
	 
 }
 
 .genusCard > select, .amblyommaFeatures > select {
	margin: 10px;
}

.taxonCard {
	
	margin: 20px;
	width: 200px;
	background-color: ;
	border-radius: 5px;
	 
	
}

.float{
	display: none;
}

.my-float{
	display: none;}

.icon{
display: none;
}

.question {
	position: absolute;
	width:40px;
	height:40px;
	top:10px;
	right:20px;
	color: "blue";
}




}








/* For mobile */
@media only screen and (max-width: 635px) {
	
html, body {
     min-height: 100%;
}

.title, label, p{
	font-family: 'Merriweather', serif;
		margin-left: 10px;
}

img {
	width: 90%;
}

.cardsItem {
		
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 8px;
	
}

.featureCard, .genusCard, .amblyommaFeatures {
	
	text-align: center;
	width: 100%;
	background-color: #7c9cab;
	border-radius: 5px;

}

.featureCard > .featureImg {
	border-radius: 5px;
}

 .genusCard > select {
	margin: 10px;
}

.legs, .genital, .scutum, .mouth {
	padding: 10px;
}

.tickElement {
	
	background-color: #D0C9C0;
	width: 80%;
	border-radius: 5px;
	text-align: center;
	
}

.tickImg {
	
	padding-top: 12.5px; 
	
}


.tickName {
	
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
	
}

.selectInstarSex {
	font-family: 'Merriweather', serif;
}

.tickName > p {
	font-family: 'IBM Plex Serif', serif;
	
}


 input[type='radio'] { 
     transform: scale(1.5); 
 }

button {
	
	display:block; 
	margin: 0 auto;
	width: 80%;
	margin-top: 10px;

}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:10px;
	background-color:#47714D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.icon{
	position:fixed;
	width:40px;
	height:50px;
	bottom:14px;
	right:20px;
	text-align:center;
}

html {
  scroll-behavior: smooth;
}

.amblyommaFeatures > p {
  padding-top: 10px;
}

.amblyommaFeatures > select {
  margin: 10px;
}









